.img-eft {
    filter: blur(4px);

}


.explore {
    text-decoration: none;
}

.footer {
    justify-content: center;
    text-align: center;
}

.fa-solid {
    color: yellow;
}

@media screen and (max-width: 600px) {
    .companies {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    div.carousel-caption {
        font-size: 30px;
        padding-top: 10px;
        margin-top: 10px;
    }
}